{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">

</head>

<body>

    <header>
        <div class="left">
            <h3>Welcome, {{ request.session.username }}</h3>
        </div>
        <div class="middle">
            <h1 id="guide">Choose the beginning</h1>
        </div>
        <div class="right">
            <a href="/logout/" class="logout">Log Out</a>
        </div>
    </header>

    <!-- Dropdown Menu Section -->
    <div class="dropdown-container">
        <div class="dropdown">
            <div class="menu" id="algorithmMenu">DFS</div>
            <div class="dropdown-content">
                <h3 onclick="selectAlgorithm('DFS')">DFS</h3>
                <h3 onclick="selectAlgorithm('BFS')">BFS</h3>
                <h3 onclick="selectAlgorithm('DIJKSTRA')">DIJKSTRA</h3>
                <h3 onclick="selectAlgorithm('A*')">A*</h3>
            </div>
        </div>

        <div class="dropdown">
            <div class="menu" id="sizeMenu">20 X 50</div>
            <div class="dropdown-content">
                <h3 onclick="selectGridSize('10 X 25')">10 X 25</h3>
                <h3 onclick="selectGridSize('20 X 50')">20 X 50</h3>
                <h3 onclick="selectGridSize('30 X 75')">30 X 75</h3>
                <h3 onclick="selectGridSize('40 X 100')">40 X 100</h3>
                <h3 onclick="selectGridSize('50 X 125')">50 X 125</h3>
                <h3 onclick="selectGridSize('60 X 150')">60 X 150</h3>

            </div>
        </div>
        <div class="dropdown">
            <div class="menu" onclick="clearGrid()">Clear</div>
        </div>
        <div class="dropdown">
            <div class="menu" onclick="find()">Find</div>
        </div>
    </div>

    <div class="lattice" id="latticeGrid"></div>

    <script src="{% static 'script.js' %}"></script>
</body>

</html>